<!-- <div class="background">
  <div class="form-background">
    

  </div>
</div> -->

<!-- 로그인폼 -->
<div class="form-background" *ngIf="!istoggleAuthForm">
  <div class="form">
    <div class="row2">
      <div style="margin-top: 58%">
        <!-- Default form login -->
        <form class="text-center p-5" [formGroup]="loginForm" style="width: 400px;">
          <!-- Material input -->
          <div class="md-form">
            <label for="email1">Email</label>
            <input type="text" id="email1" class="form-control" formControlName="userEmail">
          </div>

          <!-- Material input -->
          <div class="md-form">
            <label>Password</label>
            <input type="password" id="password" class="form-control" formControlName="userPassword">
          </div>

          <!-- Sign in button -->
          <button class="button1" type="submit" (click)="login()">Log In</button>

          <!-- Register -->
          <p style="margin-top: 94%; color: #131415;text-decoration: underline;">
            <a (click)="toggleAuthForm()">Register or Find Password</a>
          </p>

        </form>
        <!-- Default form login -->
      </div>
    </div>
  </div>
</div>

<!-- 회원가입폼 -->
<div class="form-background" *ngIf="istoggleAuthForm">
  <div class="form">
    <div class="row2">
      <div style="margin-top: 58%">
        <form class="text-center p-5" [formGroup]="createForm" style="width: 400px;">
          <div class="md-form">
            <label for="email1">Name</label>
            <input type="text" id="email1" class="form-control" formControlName="userName">
          </div>

          <div class="md-form">
            <label for="email1">Email</label>
            <input type="text" id="email1" class="form-control" formControlName="userEmail">
          </div>

          <div class="md-form">
            <label>Password</label>
            <input type="password" id="password" class="form-control" formControlName="userPassword">
          </div>

          <button class="button1" type="submit" (click)="register()">Register</button>

          <!-- <p style="margin-top: 70%; color: #131415;text-decoration: underline;">
            <a (click)="toggleAuthForm()">Register or Find Password</a>
          </p> -->

        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bottom" id="modalCreateBank" tabindex="-1" role="dialog" aria-labelledby="myModalLabe"
  aria-hidden="true" style="overflow-y: auto" mdbModal #basicModal="mdbModal">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Before you start, <br>you have to
          register your bank account.</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->

      <form class="p-3 form-group" [formGroup]="testForm">
        <div class="modal-body mx-3">
          <h4 class="modal-title" style="margin-bottom: 45px;">Before you start, <br>you have to
            register your bank account.</h4>

          <div class="md-form mb-5">
            <label for="bankName">Name</label>
            <input formControlName="bankName" type="text" id="bankName" class="form-control validate">
          </div>

          <div class="md-form mb-5">
            <label for="form29">Bank SWIFT Code</label>
            <input type="email" id="form29" class="form-control validate" formControlName="bankCode">
          </div>

          <div class="md-form mb-3">
            <label for="form32">Bank Account</label>
            <input type="text" id="form32" class="form-control validate" formControlName="bankAccount">
            <button class="button1" (click)="checkBankAccount()" style="    z-index: 9999;
              margin-top: -90px;">Check</button>
          </div>

          <div class="md-form mb-5">
            <label for="form34">Table Name</label>
            <input formControlName="subjectName" type="text" id="form34" class="form-control validate">
          </div>
          <div class="md-form mb-5">
            <label for="form34">Table Share Short URL
              ({{this.testForm.get('subjectName').value}}/{{this.testForm.get('subjectUrl').value}})</label>
            <input formControlName="subjectUrl" type="text" id="form34" class="form-control validate">
          </div>

          <button class="button1" [disabled]="!isCheckBA" (click)="createBank()">Confirm <i
              class="fas fa-paper-plane-o ml-1"></i></button>

          <img src="../../assets/logo-black.png" style="width: 150px">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade top" id="showurlmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-frame modal-top" role="document">


    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <p class="pt-3 pr-2">
            Your URL is <strong>http://localhost:4200/#/ledger/info/{{url}}</strong>. share it !
          </p>
          <br>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
