.red-dot {
  height: 25px;
  width: 25px;
  background-color: #ff554c;
  border-radius: 50%;
  display: inline-block;
}

.green-dot {
  height: 25px;
  width: 25px;
  background-color: #7fc146;
  border-radius: 50%;
  display: inline-block;
}

.yellow-dot {
  height: 25px;
  width: 25px;
  background-color: #ffd302;
  border-radius: 50%;
  display: inline-block;
}
